name: Test

on:
  push:
    paths:
      - 'src/**'
      - 'test/**'
      - 'script/**'
      - 'soldeer.lock'
  pull_request:
    paths:
      - 'src/**'
      - 'test/**'
      - 'script/**'
      - 'soldeer.lock'
  workflow_dispatch:

jobs:
  check:
    strategy:
      fail-fast: true

    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: |
          make install

      - name: Run Forge build
        run: |
          forge --version
          make fbuild

      - name: Run Forge tests
        env:
          ETHEREUM_MAINNET_RPC_URL: ${{ secrets.ETHEREUM_MAINNET_RPC_URL }}
        run: |
          make ftest
